/** PAGE CSS **/

/**********************************************************************************/

html {

	background-color:	#F9F2B7;
	font-family: 		Didots, serif;

}
/**********************************************************************************/

.Nom_Librairie {

	/**background-color: 	#FCF8D3; **/
	float: 				none;
	padding: 			4em 1em;
}

/**********************************************************************************/
.Ma {

	position: 			absolute;
	top: 				-12%;
	color: 				#E6B201;
	font-size: 			697%;

}

/**********************************************************************************/

.Librairie {

	position: 			absolute;
	top: 				-7%;
	left: 				13%;
	color: 				#78021B;
	font-size: 			581%;

}

/**********************************************************************************/

.Menus  {

	position: 			absolute;
	display: 			inline;
	top: 				20%;
	left: 				-2%;
	font-size: 			130%;
	font-weight: 		900;

}

/**********************************************************************************/
 
 .Menus li {

	background-color: 	#E6B201;
	color: 				#78021B;
	text-align: 		center;
	padding: 			1em 3em;
	
	 }

/**********************************************************************************/

.photo_librairie {

	position: 			absolute;
	left: 				50%;
	top: 				5%;
	height: 			25%;
	width: 				35%;

}

/***********************************************************************************/
 
.page_accueil {

	font-style: 		italic;

}

/***********************************************************************************/

.page_accueil h1 {

	position: 			absolute;
	text-align: 		justify;
	left: 				30%;
	top: 				22%;
	font-size: 			300%;
	color: 				#78021B;
}

/***********************************************************************************/

.page_accueil h2 {

	position: 			absolute;
	text-align: 		justify;
	left: 				30%;
	top: 				37%;
	color: 				#78021B;
}